<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="rowindus">
  <div class="container p-5">
    <p class="text-center fs-3 mt-4 ppol" >Панель администратора</p>

    <div class="row p-5">
	    <p th:text="'Привет, ' + ${title} + '!'"></p>
<!-- ====================================================================== -->
<!--      <div class="col-md-4 mt-2 ">-->
<!--        <a href="/admin/loadAddItem" class="text-decoration-none">-->
<!--          <div class="card card-sh">-->
<!--            <div class="card-body text-center text-primary">-->
<!--              <img src="/img/icon/3ia.jpg" class="img" alt="">-->
<!--              <h4 class="podp">Добавить товар</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!-- ====================================================================== -->
<!--      <div class="col-md-4 mt-2">-->
<!--        <a href="/admin/category" class="text-decoration-none">-->
<!--          <div class="card card-sh">-->
<!--            <div class="card-body text-center text-primary">-->
<!--              <img src="/img/icon/2ia.jpg" class="img" alt="">-->
<!--              <h4 class="podp">Добавить категорию</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!-- ====================================================================== -->
<!--      <div class="col-md-4 mt-2">-->
<!--        <a href="/admin/items" class="text-decoration-none">-->
<!--          <div class="card card-sh">-->
<!--            <div class="card-body text-center text-success">-->
<!--              <img src="/img/icon/2.jpg" class="img" alt="">-->
<!--              <h4 class="podp">Список товаров</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!-- ====================================================================== -->
<!--      <div class="col-md-4 mt-2">-->
<!--        <a href="/admin/users" class="text-decoration-none">-->
<!--          <div class="card card-sh">-->
<!--            <div class="card-body text-center text-primary">-->
<!--              <img src="/img/icon/4.jpg" class="img" alt="">-->
<!--              <h4>Пользователи</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!-- ====================================================================== -->
<!--      <div class="col-md-4 mt-2">-->
<!--        <a href="/admin/add-admin" class="text-decoration-none">-->
<!--          <div class="card card-sh">-->
<!--            <div class="card-body text-center text-warning">-->
<!--              <img src="/img/icon/5.jpg" class="img" alt="">-->
<!--              <h4>Добавить администратора</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!-- ====================================================================== -->
<!--      <div class="col-md-4 mt-2">-->
<!--        <a href="/admin/profile" class="text-decoration-none">-->
<!--          <div class="card card-sh">-->
<!--            <div class="card-body text-center text-primary">-->
<!--              <img src="/img/icon/6.jpg" class="img" alt="">-->
<!--              <h4>Администратор</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--     </div>-->
<!-- ====================================================================== -->
    </div>
  </div>
</section>
</body>
</html>
